* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-size: 1rem;
}

/* Header */

header {
  background-color: #003366;
  padding: 0.4rem;
  text-align: center;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  left: 0;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem;
}

.logo img {
  width: 60px;
}

.nav-bar {
  display: flex;
  gap: 2.8rem;
}

.nav-bar a , .logo a {
  color: #dcdcdc;
  font-size: 1.1rem;
  font-weight: 600; 
  position: relative;
}

.nav-bar a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Border thickness */
  background-color: red; /* Border color */
  transition: width 0.3s linear; /* Smooth transition */
}

.nav-bar a:hover::after {
  width: 80px; /* Expanded width on hover */
}

/* Home */

.home img {
  width: 100%;
  height: 100vh;
}

/* Upcommings */

.upcomming-text {
  text-align: center;
  color: #708090;
  margin-top: 1rem;
  padding: 1rem;
}

.upcomming-text h1 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.upcomming-text p {
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 1px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjusted for more flexibility */
  gap: 1rem; 
  margin: 1rem;
  color: white;
}

.box {
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack image, title, and content vertically */
  justify-content: space-between; /* Ensure proper spacing */
  align-items: center; /* Center all content horizontally */
}

.box img {
  width: 80%;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  margin-bottom: 8px;
}

.box img:hover {
  box-shadow: 4px 4px 8px whitesmoke;
  transform: scale(1.05); 
  transition: all 0.3s linear;
}

.box h3 {
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
}

.content {
  display: flex;
  flex-direction: column; /* Stack the price and button vertically */
  align-items: center; /* Center them horizontally */
  gap: 0.5rem; /* Space between the price and button */
}

.content span, .content button {
  text-align: center;
}

.content button {
  border: 2px solid red;
  border-radius: 1rem;
  color: white;
  background-color: black;
  padding: 0.8rem;
  text-align: center;
  font-size: 0.8rem;
}

.content button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

